body {
    background: url('https://wallpaperaccess.com/full/84248.png') no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container { 
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
}

li {
    margin: 30px;
}

li a img {
    max-width: 80px;
    max-height: 70px;
}